.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

.botao-lilas {
    background-color: #9353FF!important;
}

.verde-limao {
    color: #DAFF01;
}

.borda-botao-lilas {
    border: #9353FF!important;
}

.letras-brancas {
    color: #FFFFFF
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}